@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.button {
	color: white;
	background-color: $blue;
	border-radius: 0.25rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 2.5rem;
	height: min-content;
	width: 100%;

	cursor: pointer;
	&:hover {
		background-color: $darkblue;
	}
	@include tablet {
		min-width: 9rem;
		width: fit-content;
		padding: 0.25rem 2rem;
	}

	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(50%, -50%);
	}
	&__text {
		text-transform: uppercase;
		margin: 0;
		font-weight: 600;
	}
	&--inverted {
		background-color: $white;

		color: $blue;
	}
}
