@use "./colors" as *;

@mixin tablet {
	@media only screen and (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: 1280px) {
		@content;
	}
}

@mixin margin {
	margin: 0 1rem;

	@include tablet {
		margin: 0 2.25rem;
	}

	@include desktop {
		margin: 0 auto;
		width: 64rem;
	}
}

@mixin mini-margin {
	padding: 0 1rem;

	@include tablet {
		padding: 0 2.25rem;
	}
	@include desktop {
		padding: 0;
	}
}

@mixin headline {
	margin-top: 1.5rem;
	margin-bottom: 1rem;

	@include tablet {
		margin-top: 3rem;
		margin-bottom: 2.25rem;
	}
}

@mixin comp {
	padding-bottom: 1rem;

	@include tablet {
		padding-bottom: 2.25rem;
	}
}

@mixin placeholder {
	&::placeholder {
		color: $black;
		opacity: 100%;
		font-family: Avenir;
		font-size: 1rem;
	}
}
