@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;

.comments {
	@include mini-margin;
	&__img {
		width: 2.25rem;
		height: 2.25rem;
		border-radius: 50%;
		aspect-ratio: 1;
		background-color: $mercury;
		background-image: url("/assets/images/Mohan-muruge.jpg");
		background-size: cover;

		transform: translateY(-10%);

		@include tablet {
			min-width: 3rem;
			height: 3rem;
		}
	}

	&__join {
		display: flex;
		gap: 1rem;
	}
	&__left {
		flex-shrink: 2;
	}
	&__right {
		flex: 1;
		padding-right: 1rem;

		& > p {
			text-transform: uppercase;
			color: $silver;
			font-size: 0.75rem;
		}
	}
	&__input {
		border: $mercury 1px solid;
		border-radius: 0.25rem;

		box-sizing: border-box;
		padding: 0.75rem;
		margin-top: 0;
		width: 100%;
		max-width: 100%;
		height: 6rem;

		margin-bottom: 1rem;

		resize: none;

		@include tablet {
			padding: 1rem;
			margin-bottom: 0;
			height: 3rem;
		}
	}

	&__form {
		@include tablet {
			display: flex;
			gap: 1rem;
		}
	}
}
