@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.player {
	background-color: black;
	display: flex;
	justify-content: center;

	&__controls {
	}

	&__video {
		width: 100%;
		@include tablet {
			height: 80vh;
		}
	}
}
